/*------------------------------- 
    CHECKBOX STYLE COMPONENT 
----------------------------------*/
.checkbox__wrapper .cbx {
    position: relative;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background-color: #c2c2c2;
    transition: all 0.15s ease;
    z-index: 0;
}

.checkbox__wrapper .cbx svg {
    position: absolute;
    top: 4px;
    left: 4px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 17;
    stroke-dashoffset: 17;
    transform: translate3d(0, 0, 0);
}
.checkbox__wrapper .cbx + span {
    margin-left: 6px;  
}
.checkbox__wrapper {
    user-select: none;
}
.checkbox__wrapper label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.checkbox__wrapper input[type="checkbox"] {
    display: none;
    visibility: hidden;
}
.checkbox__wrapper input[type="checkbox"]:checked + .cbx {
    background-color: var(--dark-bg);
}
.checkbox__wrapper input[type="checkbox"]:checked + .cbx svg {
    stroke-dashoffset: 0;
    transition: all 0.15s ease;
}

/*-----------------------
    HEADER COMPONENTS
-------------------------*/
.header__container {
    background-color: #323232;
    color: #ffffff;
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header__container > nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    font-weight: 500;
}

.header__menu__btn {
    height: 24px;
}

.menu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.8;
}

.header__menu__items {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #222222;
    width: 60%;
    height: 100vh;
    z-index: 1;

    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header__menu__items.active{
    display: flex;
}
.header__menu__items > ul {
    list-style: none;
    text-align: center;
}

.header__menu__items > ul li {
    margin: 20px 0px;
}

.header__menu__items > ul li a {
    color: var(--main-bg);
}

@media screen and (min-width: 992px){
    .header__menu__btn, .menu__overlay{
        display: none;
    }

    .header__menu__items{
        display: flex;
        position: static;
        height: 60px;
        width: auto;
        background-color: transparent;
    }

    .header__menu__items > ul {
        display: flex;
        gap: 22px;
    }
}
