@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-bg:#dedede;
    --white-bg: white;
    --dark-bg:#323232;
    --submit-color: #25A05E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--main-bg);
}

a{
    text-decoration: none;
}

a:hover{
    opacity: 90%;
}

.debug {
    border: 1px solid red;
}

/* HEADER COMPONENT USES THIS */
.container {
    width: 90%;
}

.content {
    padding: 0px 20px;
}

.window {
    background-color: var(--white-bg);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid black;
}

.backTo {
    width: 92%;
    text-decoration: underline;
    color: var(--dark-bg);
}

/*---- FLEXBOX ----*/
.d-flex {
    display: flex;
}

.flex-collumn {
    flex-direction: column;
}

.direction__collumn__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    gap: 14px;
}

/*---- BUTTONS ----*/
.btn {
    background-color: var(--main-bg);
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    border: 0px;
}

.btn:hover{
    cursor: pointer;
    opacity: 90%;
}

.btn--small {
    padding: 12px;
    font-size: 1em;
}

.btn--submit {
    background-color: var(--submit-color);
    color: #ffffff;
}

/*---- MARGINS ----*/
.mt-1 {
    margin-top: 12px;
}

.mt-2 {
    margin-top: 20px;
}

.mb-1 {
    margin-bottom: 12px;
}

/*---- WIDTH ----*/
.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.font--medium {
    font-size: 1.2rem;
}

/* ---- INPUT ---- */
.form > input{
    height: 45px;
    border-radius: 8px;
    padding: 8px;
    font-size: 1.1rem;
    border: 1.5px solid black;
}

