Django
django-allauth
django_extensions
django-filter
django-rest-auth
djangorestframework
drf_redesign
drf_material
httpie
Markdown
Pillow
pytest
pytest-cov
pytest-django
pytest-subtests
pytest-mock
pytest-xdist[psutil]