Django
django-allauth
django_extensions
django-filter
django-rest-auth
djangorestframework
django-cors-headers
drf_redesign
httpie
Markdown
pytest
pytest-cov
pytest-django
pytest-subtests
pytest-mock
pytest-xdist[psutil]