Django
Markdown
django-allauth
django-cors-headers
django-filter
django-rest-auth
django_extensions
djangorestframework
drf_material
drf_redesign
httpie
pytest
pytest-cov
pytest-django
pytest-mock
pytest-subtests
pytest-xdist[psutil]