<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Login</title>
   <!-- CSS -->
   <link href="styles/global.css" rel="stylesheet">
   
   <!-- Vue and Javascript -->
   <script src="https://cdn.jsdelivr.net/npm/vue@3.4.21/dist/vue.global.js" defer></script>
   <script src="scripts/login.js" type="module" defer></script>

</head>
<body>
    <div id="app" class="direction__collumn__page">
        <section class="container window mt-2">
            <h1 class="mb-1">Login</h1>
            <hr>
            <form @submit.prevent="handleLogin" class="form d-flex flex-collumn mt-1 font--medium">
                <label for="email_field">Email</label>
                <input type="email" v-model="email" id="email_field" class="mb-1">

                <label for="password_field">Password</label>
                <input type="password" v-model="password" id="password_field">

                <button type="submit" class="btn btn--submit btn--small mt-2">Login</button>

                <h2 class="mt-1">{{ authenticated }}</h2>
            </form>
        </section>
        <test></test>
    </div>
    
</body>
</html>